/*
 * Largely inspired by the example shown here:
 * https://www.w3schools.com/howto/howto_css_login_form_navbar.asp
 */

#header-form {
  float: right;
}

#header-form input[type=text] {
  padding: 6px;
  margin-top: 8px;
  border: none;
  width: 150px;
}

#header-form button {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;

  /* no idea why this is not default behavior */
  cursor: pointer;
}
