body {
  color: #cecece;
  background-color: #0e1415;
}

section {
  display: block;
  max-width: 55%;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: light) {
  body {
    color: #000000;
    background-color: #f7f7f7;
  }
}
